<p>login works!</p>

<mat-card class="top-panel">
  <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/home">Home</button>
  </div>
</mat-card>

<mat-card class="form-card">
  <form #loginForm ="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
      <div class="email-container input-fields">
          <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" ngModel name="email" id="email" required>
<!--                <mat-error *ngIf="loginForm.invalid">{{getErrorMessage()}}</mat-error>      -->
          </mat-form-field>
      </div>

      <div class="password-container input-fields">
          <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" id="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
      </div>

      <button mat-raised-button class="btn-submit" color="primary">Login</button>
  </form>
</mat-card>