<mat-card class="top-panel mat-elevation-z5">
  <div class="example-button-row">
      <button mat-raised-button color="primary" type="button" (click)="authService.logout()">Logout</button>
  </div>
</mat-card>

<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item>Update profile</button>
  <button mat-menu-item>Delete profile</button>
</mat-menu>

<div class="grid-container">
  <h1 class="mat-h1" *ngIf="user$ | async as user">Welcome to your profile, {{ user.email }}.</h1>
  
  <mat-card class="user-profile" *ngIf="user$ | async as user" >
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>Update profile</button>
      <button mat-menu-item>Remove profile</button>
    </mat-menu>

    <div class="profile-image">
      <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.jpg' ">
      <button mat-mini-fab (click)="inputField.click()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <input #inputField type="file" hidden>   

  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Like</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
