.top-panel {
  background: #DCEBF1;
}

.example-button-row {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;

}


.profile-image img {
  /*border-radius: 100%;*/
  object-fit: cover;
  object-position: center;
}





.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
